<form class="mt-4 " name="container-form" method="POST" action="/courses/handle-form-action">
    <h3>My course</h3>
    <a href="/me/trash/course">Trash ({{deletedcount}})</a>
 <div class="mt-4 d-flex align-items-center">
  <div class="form-check mr-3">
    <input type="checkbox" class="form-check-input" id="checkbox-all">
    <label class="form-check-label" for="checkbox-all">Check all</label>
  </div>
  
 <select class="form-control form-control-sm mr-3 checkbox-select-all-options" name="action" required="true">
  <option value="">--Select active--</option>
  <option value="delete">Delete</option>
 </select>
  <button class="btn btn-primary btn-sm  check-all-submit-btn" disabled="disabled"> Do</button>
</div>
    
   
  </div>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">check</th>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Time create</th>
    </tr>
  </thead>
  <tbody>
     {{#each course}}
    <tr>
      <th>
        <div class="form-check mr-3">
       <input type="checkbox" class="form-check-input" id="exampleCheck1" name="coursIds[]" value="{{this._id}}">
     
        </div>
      </th>
      <th scope="row">{{sum 1 @index}}</th>
      <td>{{this.name}}</td>
      <td>{{this.description}}</td>
      <td>{{this.createdAt}}</td>
      <td>
        <a class="btn btn-link" href="/courses/{{this._id}}/edit" >Update</a>
       <a class="btn btn-link" href="#" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course">Delete</a>
      </td>
    </tr>
    {{else}}
    <tr>
      
      <td colspan="5">
        You not resgiter course
        <a href="/courses/create">Register course</a>

      </td>
      
    </tr>
    {{/each}}
  </tbody>
</table>
</form>
{{!--hiden form--}}
<form name="delete-form" method="POST" ></form>
{{!--confirm delete --}}
<!-- Modal -->
<div class="modal fade" id="delete-course" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you want delete?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-course" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
  $(document).ready(function() {
    var courseid;
    //var container_form =document.forms["container-form"]
    var container_form = $('form[name="container-form"]');
    var deleteForm = document.forms["delete-form"];
    var checkbox_all = $("#checkbox-all");
    var coursItemsCheckbox = $('input[name="coursIds[]"]');
    var checkAllSubmitBtn = $(".check-all-submit-btn");
    console.log(container_form)
      //disable form C1
      /*
    container_form.on("submit",function(e){
    
  var isSubmittable = checkAllSubmitBtn.hasClass("disabled");
  if(isSubmittable){
    e.preventDefault()
  }
}); */
   
    $('#delete-course').on('show.bs.modal', function(event) {
      var button = $(event.relatedTarget);
      courseid = button.data('id');
    });

    var btnDeleteCourse = document.getElementById("btn-delete-course");
    btnDeleteCourse.onclick = function() {
      deleteForm.action = "/courses/" + courseid + "?_method=DELETE";
      deleteForm.submit();
    };
 

    // checkbox_items clicked
    coursItemsCheckbox.on("change", function() {
      var isCheckedAll = $(this).prop('checked') && $('input[name="coursIds[]"]:checkbox:checked').length === $('input[name="coursIds[]"]:checkbox').length;

      checkbox_all.prop('checked', isCheckedAll);
      renderCheckAllSubmitBtn();
    });

    // checkbox_all clicked
    checkbox_all.on("change", function() {
      const isChecked = $(this).prop("checked");
      coursItemsCheckbox.prop('checked', isChecked);
      renderCheckAllSubmitBtn();
    });

    function renderCheckAllSubmitBtn() {
      var checkedCount = $('input[name="coursIds[]"]:checkbox:checked').length;
      if (checkedCount > 0) {
        checkAllSubmitBtn.removeAttr('disabled');
      }else{
         checkAllSubmitBtn.addAttr('disabled');
      }
    }
  });
});
</script>