<div class0="mt-4">
    <h3>My course</h3>
    <a href="/me/trash/course">Trash ({{deletedcount}})</a>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Time create</th>
    </tr>
  </thead>
  <tbody>
     {{#each course}}
    <tr>
      <th scope="row">{{sum 1 @index}}</th>
      <td>{{this.name}}</td>
      <td>{{this.description}}</td>
      <td>{{this.createdAt}}</td>
      <td>
        <a class="btn btn-link" href="/courses/{{this._id}}/edit" >Update</a>
       <a class="btn btn-link" href="#" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course">Delete</a>
      </td>
    </tr>
    {{else}}
    <tr>
      
      <td colspan="5">
        You not resgiter course
        <a href="/courses/create">Register course</a>

      </td>
      
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
{{!--hiden form--}}
<form name="delete-form" method="POST" ></form>
{{!--confirm delete --}}
<!-- Modal -->
<div class="modal fade" id="delete-course" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you want delete?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-course" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    $(document).ready(function() {
      var courseid;
      var deleteForm = document.forms["delete-form"];
      $('#delete-course').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget);
        courseid = button.data('id');
        
      });
      var btnDeleteCourse =document.getElementById("btn-delete-course")
      btnDeleteCourse.onclick=function(){
        deleteForm.action="/courses/"+courseid+"?_method=DELETE"
        deleteForm.submit()
      }
       
    
      
    });

  });
</script>
 
